body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #ffffff;
    line-height: 20px;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/*HEADER*/

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}


.background-header {
    background: url("../img/introducao1.jpg") no-repeat;
    background-size: cover;

}

.box-header {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
}

.header h3 {
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

.header-menu ul {
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 5px;
}

.header-menu li {
    padding: 15px;
}

.header-menu a {
    color: #ffffff;
}

.header-menu a:hover {
    color: gray;
    text-decoration: none;

}

/*introdução*/
.introducao {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    align-items: center;
    justify-content: center;
}

/*sobre*/
.dobra-lixo {
    display: flex;
    color: black;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
    flex-wrap: wrap;
    
}

.titulo {
    font-size: 3em;
    margin-bottom: .5em;
    padding-top: 60px;
    padding-bottom: 10px;
    border-bottom: 2px solid #8FB18C;
    width: 960px;
}

/*sobre-info*/
.lixo-info {
	flex: 2 1 300px;
    margin: 0 auto;
}

.lixo-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
    
	
}